* {

font-family: Arial;

}

h1 {

color: Blue;

font-size: 36px;

}
body {
  font : 18pt;
  background-color: grey;
}
.sec {
  border : 2px solid;
  padding: 0.5px;
 
background-color : yellow;
border-radius : 5px;
margin : 3px;
}

p {

font-size: 18pt;

color: black;

}

Ul, ol {

margin-top: 0;
}
